@import url('https://fonts.googleapis.com/css?family=Julius+Sans+One|Merienda|Petit+Formal+Script|Raleway|Rancho|Roboto|Yesteryear');


body {
  margin: 0;
  padding: 0;
  font-family: 'Raleway', sans-serif !important;
  height: 100%;
}

main {
  height: 92vh;
}

a:visited {
  color: #222;
}

.headroom-wrapper a {
  text-decoration: none;
}

.headroom > div {
  padding: 15px 60px;
}

.headroom > div > div {
  display: inline-block;
  width: 50%;
}

.headroom h1 a {
  margin-left: 0;
}

.headroom a, 
.headroom span,
.headroom button {
  font-family: 'Roboto', sans-serif !important;
  background: none;
  font-size: 1em;
  border: none;
  margin-left: 1em;
}

.headroom button {
  color: grey;
}

#upload {
  max-width: 400px;
  margin: 2em auto;
}

#upload p {
  margin-bottom: 1em;
  font-size: 1em;
}

#upload h2 {
  font-size: 2em;
  font-weight: bold;
  margin-bottom: .5em;
}

#upload input[type=file] {
  display: block;
  font-size: 1em;
}

#upload input[type=submit] {
background-color: #fff;
  display: block;
  width: 100%;
  margin: 1em auto;
  padding-top: 1em;
  padding-bottom: 1em;
  font-size: 1em;
  border-radius: 10px;
}


